<div class="users">
  <%= form_for([:admin, @car]) do |form| %>
    <% if car.errors.any? %>
      <% car.errors.full_messages.each do |message| %>
        <div class="notification is-warning">
          <%= message %>
        </div>
      <% end %>
    <% end %>

    <div class="columns is-centered mb-2">
      <div class="column is-half">       
        <div class="avatar"> 
          <label for='avatar' class="upload-avatar">
            <i class="material-icons">camera_alt</i>
          </label>
          <%=form.file_field :image, id:"avatar" %>       
          <% if car.image.attached? %>                     
            <%= image_tag(url_for(car.image), :class => "avatar-preview") %>  
          <% else %>           
            <div class="avatar-preview"></div>             
          <% end %>               
        </div>           

        <% unless @car.new_record? %>
          <h4 class="name">
            <%= @car.model %><br>
            <small><%= t(@car.brand) %></small>
          </h4>
        <% end %>
      </div>
    </div>

    <h4>Dados Cadastrais</h4>
    <div class="columns">
      <div class="field column">
        <%= form.label :model, class: 'label' %>
        <div class="control">
          <%= form.text_field :model, class: 'input', autocomplete: "off", required: true %>
        </div>
      </div>

      <div class="field column">
        <%= form.label :brand, class: 'label' %>
        <div class="control">
          <%= form.text_field :brand, class: 'input', autocomplete: "off",required: true %>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-three-fifths">
        <%= form.label :board, class: 'label' %>
        <div class="control">
          <%= form.text_field :board, class: 'input', autocomplete: "off", required: true %>
        </div>
      </div>
      <div class="column">
        <%= form.label :model_year, class: 'label' %>
        <div class="control has-icons-right">
          <%= form.text_field :model_year, class: 'input', autocomplete: "off" %>
          <span class="icon is-small is-right">
            <i class="material-icons">phone</i>
          </span>
        </div>
      </div>
      <div class="column">
        <%= form.label :year_manufacture, class: 'label' %>
        <div class="control has-icons-right">
          <%= form.text_field :year_manufacture, class: 'input', autocomplete: "off" %>
          <span class="icon is-small is-right">
            <i class="material-icons">phone</i>
          </span>
        </div>
      </div>
    </div>
    <hr />
    <div class="columns">
      <div class="column is-narrow">
        <div class="field">
          <%= form.label :status, class: 'label' %>
          <div class="control">
            <div class="switch-radio">
              <% Car.statuses.each do |status, i| %>
                <%= form.radio_button :status, status %>
                <label for=<%= "user_status_#{status} "%>><%= t(status) %></label>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-centered mt-4">
      <div class="field column is-half">
        <div class="columns">
          <div class="column">
            <%= link_to 'Cancelar', :back, class: 'button is-primary is-outlined is-fullwidth' %>
          </div>
          <div class="column">
            <%= form.submit 'Salvar', class: 'button is-primary is-fullwidth' %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>