<section class="car-description"> 
  <div class="columns is-center">
    <div class="column column is-half is-offset-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <% if @car.image.attached? %>                     
              <%= image_tag(url_for(@car.image), :class => "no-image") %>  
            <% else %>           
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            <% end %> 
          </figure>
        </div>
        <div class="card-content">
          <div class="media">          
            <div class="media-content">
              <p class="title is-4"><%= @car.model %></p>
              <p class="subtitle is-6"><%= @car.brand %></p>
            </div>
          </div>

          <div class="content">
            <%= @car.descriptrion %>
          </div>
        </div>    
      </div>
    </div>
    <div class="column is-one-quarter-desktop is-half-tablet">
        <div class="card">         
          <header class="card-header">
            <p class="card-header-title">
              Alugue agora, esse carro
            </p>       
          </header>
          <% if current_user %>
            <div class="card-content">
              <%= form_for([:portal, @reserved_car]) do |form| %>
                <%= form.text_field :document, autofocus: true, autocomplete: "CPF", class: "input is-document", placeholder:"CPF", value: current_user.document %>
                  <div class="column">
                    <%= form.submit 'Reservar', class: 'button is-primary is-fullwidth' %>
                  </div>
              <% end %>
            </div>
          <% else %>
            <div class="card-content">
              <a href="/entrar", class="button is-fullwidth is-medium is-primary">
                Antes faça seu login
              </a>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</section>