<%= content_for(:page){ "Usu치rios" } %>

<%= content_for(:top_actions) do %>
  <div class="navbar-item">
    <div class="control has-icons-right is-search">
      <input class="input reset" name="query" type="text" placeholder="Buscar Usu치rio...">
      <span class="icon is-small is-right">
        <i class="material-icons">search</i>
      </span>
    </div>
  </div>
  <div class="navbar-item">
    <%= link_to new_admin_user_path, class: 'button is-primary' do %>
      <span class="icon">
        <i class="material-icons">add_box</i>
      </span>
      <span>Adicionar Usu치rio</span>
    <% end %>
  </div>
<% end %>
<br />
<% @users.each do |user| %>
  <div class="card card-info">
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <div class="avatar"></div>
          <div class="name">
            <h4>
              <%= user.name %><br />
              <small><%= t(user.role) %></small>
            </h4>
          </div>
        </div>    
        <div class="column">
          <span class="truncate is-flex">
            <i class="material-icons">email</i> <span><%= truncate(user.email, length: 40) %></span>
          </span>
        </div>

        <div class="column is-one-quarter-tablet">
          <%= link_to 'Ver Usu치rio', edit_admin_user_path(user), class: "button is-primary is-outlined is-fullwidth is-small" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= paginate @users,  outer_window: 3  %>
<%= page_entries_info @users %>
